/* progress */

progress[value] {
  /* --color: #fff; */
  /* the background color */
  /* --background: lightgrey;  */
  --background: linear-gradient(rgba(13, 13, 13, 0.533), rgba(51, 51, 51, 0)),
    repeating-linear-gradient(135deg, #b51818 0 7px, #780000 0 12px), #2d5b75;

  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0 10px;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  background: var(--color);
}

/* progress */
