/* custom-editor-styles.css */
.ck .ck-editor__main {
  background-color: #ffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* padding: 20px; */
  /* height: 200px !important; */
}

.ck-editor__editable {
  direction: rtl !important;
  text-align: right !important;
}

.ck.ck-editor__editable_inline > :last-child {
  height: 250px !important;
}

.ck.ck-editor__editable_inline > :last-child strong {
  /* color: blue !important;
  font-size: 20px !important; */
}
