.selectBox {
  /* Reset Select */
  appearance: none;
  outline: none;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 2em;
  direction: rtl;
  color: black;
  background-color: transparent;
  background-image: none;
  cursor: pointer;

  /* border: 1px solid #d2d2d2; */
}
/* Remove IE arrow */
.selectBox::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 2.5em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75em;
  background-color: transparent;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #19bfd3;
}
