<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <h2>New Agency Request Received</h2>
      <p><strong>Name:</strong> {{first_name}} {{last_name}}</p>
      <p><strong>Address:</strong> {{address}}</p>
      <p><strong>Investment power:</strong> {{investment_power}}</p>
      <p><strong>Phone Number:</strong> {{phone_number}}</p>
      <p><strong>Mobile Number:</strong> {{mobile_number}}</p>
      <p><strong>message:</strong> {{message}}</p>
    </div>
  </body>
</html>
