<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <h2>New Job Application Received</h2>
      <p><strong>Name:</strong> {{first_name}} {{last_name}}</p>
      <p><strong>Gender:</strong> {{gender}}</p>
      <p><strong>Birth Day:</strong> {{birth_day}}</p>
      <p><strong>Degree:</strong> {{degree}}</p>
      <p><strong>Field:</strong> {{field}}</p>
      <p><strong>Is Student:</strong> {{isStudent}}</p>
      <p><strong>Position:</strong> {{position}}</p>
      <p><strong>Address:</strong> {{address}}</p>
      <p><strong>Phone Number:</strong> {{phone_number}}</p>
      <p><strong>Mobile Number:</strong> {{mobile_number}}</p>
      <p><strong>Resume:</strong> {{resume}}</p>
    </div>
  </body>
</html>
